<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">最新文章</h4>
                    <div class="content recent-post">
                        <% _defaultData.lastArticles.forEach(function (article) { %>
                        <div class="recent-single-post">
                            <a href="/article/<%= article._id %>" class="post-title"><%= article.title %></a>
                            <div class="date"><%= article.publish_time %></div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <% _defaultData.tags.forEach(function (tag) { %>
                        <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                        <a href="/tags/">...</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="widget">
                    <h4 class="title">合作伙伴</h4>
                    <div class="content tag-cloud friend-links">
                        <a href="http://www.bootcss.com" title="Bootstrap中文网"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'bootcsscom'])" target="_blank">Bootstrap中文网</a>
                        <a href="http://www.bootcdn.cn" title="开放CDN服务"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'bootcdncn'])"
                           target="_blank">开放CDN服务</a>
                        <a href="http://www.gruntjs.net" title="Grunt中文网"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'gruntjsnet'])"
                           target="_blank">Grunt中文网</a>
                        <a href="http://www.gulpjs.com.cn/" title="Gulp中文网"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'gulpjscomcn'])"
                           target="_blank">Gulp中文网</a>
                        <hr>
                        <a href="http://lodashjs.com/" title="Lodash中文文档"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'lodashjscom'])" target="_blank">Lodash中文文档</a>
                        <a href="http://www.jquery123.com/" title="jQuery中文文档"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'jquery123com'])" target="_blank">jQuery中文文档</a>
                        <hr>
                        <a href="https://www.upyun.com/" title="又拍云"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'upyun'])" target="_blank">又拍云</a>
                        <a href="http://www.ucloud.cn/" title="UCloud"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'ucloud'])" target="_blank">UCloud</a>
                        <a href="http://www.lecloud.com/" title="乐视云"
                           onclick="_hmt.push(['_trackEvent', 'link', 'click', 'lecloud'])" target="_blank">乐视云</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright © <a href="http://www.golaravel.com/">Laravel 中文网</a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> |
                <span>京公网安备11010802014853</span>
            </div>
        </div>
    </div>
</div>
<a href="#" id="back-to-top" style="display: block;"><i class="fa fa-angle-up"></i></a>