<%- include('header') %>
<section class="content-wrap">
    <div class="container">

        <% articles.forEach(function (article) { %>
        <div class="row">
            <div class="col-md-2"><a href="/article/<%= article._id %>"><%= article.title %></a></div>
            <div class="col-md-2">
                <%= article.status %>
            </div>
            <div class="col-md-1">
                <%= article.visit_count %>
            </div>
            <div class="col-md-1">
                <%= article.comment_count %>
            </div>
            <div class="col-md-2">
                <%= article.publish_time %>
            </div>
            <div class="col-md-2">
                <%= article.updated %>
            </div>
            <div class="col-md-2">
                <a href="/admin/post/<%= article._id %>">编辑</a>
            </div>
        </div>
        <% }) %>

    </div>
</section>
<%- include('footer') %>