<%- include('header') %>
<div class="container nav">
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="/posts"><h1>myblog</h1></a>
            <p>my first blog</p>
        </div>
    </div>
</div>

<div class="container">
    <form role="form" method="post" action="/admin/post">
        <div class="form-group">
            <label for="title">标题</label>
            <input type="text" name="title" value="<%= article.title %>" id="title" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="section">分类</label>
            <select class="form-control" id="section" name="section">
                <% sections.forEach(function (section) { %>
                <% if(section._id.toString() == article.section._id.toString()) { %>
                <option value="<%= section._id %>" selected="selected"><%= section.name %></option>
                <% } else { %>
                <option value="<%= section._id %>"><%= section.name %></option>
                <% } %>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label for="content">浏览量</label>
            <input type="text" value="<%= article.pv %>" name="pv" class="form-control"/>
        </div>
        <div class="form-group">
            <% if(article.status) { %>
            <input type="checkbox" value="1" name="status" checked="checked"/>
            <% } else { %>
            <input type="checkbox" value="1" name="status"/>
            <% } %>
            发布
        </div>
        <div class="form-group">
            <label for="content">内容</label>
            <textarea name="content" rows="15" id="content" class="form-control"><%= article.content %></textarea>
        </div>

        <input type="submit" class="btn btn-default btn-block" value="发布"/>
        <input type="hidden" value="<%= article._id %>" name="_id">

    </form>
</div>
<%- include('footer') %>
